body{
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
margin:0;
}
h1,h2{
  color:#333;
}

#color{
  color:orange;
}
.first-container{
  display:flex;  
}
.background1{
  background-image:url(/images/shapes/Frame\ 57.jpg);
  background-repeat:no-repeat;
  background-position:left;

}
.half-width{
  width:50%;
  
  margin-top:100px;
}
.half-width-image{
  width:80%;
  padding-left:30px;
}
#first-text-section{
  text-align:justify;
  padding:200px 50px;
  font-size:20px;
  
}
.first-button{
  text-decoration:none;
  color:white;
  font-weight:700;
  background-image:linear-gradient(orange,tomato);
  padding:10px 35px;
  border-radius:15px;
  margin-top:20px;
  display:inline-block;
  margin-top:20px;

  
  
}
/*end of first section*/
#second-image{
  width:500px;
  
  padding:0px 250px;
  
}
.second-container{
  display:flex;
  background-image:url(/images/shapes/Frame\ 58.jpg);
  background-repeat:no-repeat;
  background-position:left;
  
  
}
.second-text-section{
 
  margin-right: 10px 50px;
}
/*end of seciond section */
.third-container{
  margin-bottom:100px;
}
.recipe-image{
 display:flex;
 
}
.recipie-section{
  text-align:center;
}
#recipie-section-paragraph{
  
  margin:10px 450px;
  line-height:1.7em;
  margin-bottom:20px;
}
.first-image-container{
    display:block;
    height:400px;
    width:300px;
    margin-left:475px;

    border-radius:20px;
    text-align:center;
    padding-top:20px;
    border:2px solid whitesmoke;
    background-color:white;
    box-shadow:20px 20px 50px whitesmoke;
      

}
.below-text{
  text-align:left;
  padding-left:10px;
}
#first-recipie-pic{
  width:80%;
  border-radius:30px;
  
  
}
.seond-image-recipie-class{
 margin-left:40px;
}
/*end of the third section */




